body {
	padding-top: 5rem;
}

.small-italic-text {
	font-size: 89%;
	font-style: italic;
}

.main-content-box {
	padding: 0.69rem 1.5rem;
}
@media (max-width: 766px) {
	.main-content-box {
		padding: 0.69rem 0rem;
	}
}

.model-name-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
}

.table-datatables {
	font-size: 90%;
}

/* Bootstrap overrides */

input[type=checkbox].form-control {
	width: 4%;
}
