{% extends "rest_framework/base.html" %}

{% load static %}

{% block title %}saltant API{% if name %} - {{ name|lower }}{% endif %}{% endblock %}

{% block style %}
	{{ block.super }}
	<link rel="icon" href="{% static "frontend/favicon/favicon.ico" %}">
	<link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/saltant-bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block branding %}
	<a class='navbar-brand' href='{{ DJANGO_BASE_URL }}'>
		{{ PROJECT_NAME }}
	</a>
{% endblock %}
