/* The page */
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin: 2em;
	color: black;
}
@media (max-width: 699px) {
	body {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

/* The box giving the maximum page width */
.wrapper {
	max-width: 700px;
	margin: 0 auto;
}

/* The main header with the logo and title */
.main-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* The main title */
h1 {
	font-size: 2.69em;
	vertical-align: middle;
}

/* The logo */
.logo-img {
	margin-right: 1em;
	vertical-align: middle;
	height: 100px;
	width: 100px;
}

/* Grid for listing links */
.links-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	margin-left: 4em;
}

/* Box for listing a single link */
.link-box {
	display: flex;
	justify-content: start;
	align-items: center;
}

/* Small logos for links */
.link-img {
	border: 1px solid black;
	border-radius: 4px;
	height: 35px;
	width: 35px;
	vertical-align: middle;
}

.link-text {
	margin-left: 0.69em;
	vertical-align: middle;
}
