{% extends "frontend/base.html" %}

{% load jsonify %}

{% block subtitle %} - {{ taskinstance.uuid }}{% endblock %}

{% block content %}
	<div class="model-name-container">
		<div>
			<h4>
				{% if taskinstance.name %}
					{{ taskinstance.name }}
				{% else %}
					{{ taskinstance.uuid|truncatechars:11 }}
				{% endif %}
			</h4>

			<div class="small-italic-text" style="margin-bottom: 0.69em">
				{{ taskinstance.uuid }}
			</div>
		</div>

		<div class="dropdown show">
			<a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Actions
			</a>

			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="{% block rename_url %}#{% endblock %}">Change name</a>
				<a class="dropdown-item" href="{% block clone_url %}#{% endblock %}">Clone</a>
				<a class="dropdown-item" href="{% block state_override_url %}#{% endblock %}">Override state (!)</a>
				<a class="dropdown-item" href="{% block terminate_url %}#{% endblock %}">Terminate</a>
				<a class="dropdown-item" href="{% block delete_url %}#{% endblock %}">Delete</a>
			</div>
		</div>
	</div>

	<table class="detail-table">
		<tr>
			<td>user</td>
			<td>{{ taskinstance.user }}</td>
		</tr>
		<tr>
			<td>state</td>
			<td>{{ taskinstance.state }}</td>
		</tr>
		<tr>
			<td>task type</td>
			<td><a href="{% url "executabletasktype-detail" taskinstance.task_type.pk %}">{{ taskinstance.task_type.name }}</a></td>
		</tr>
		<tr>
			<td>queue</td>
			<td><a href="{% url "queue-detail" taskinstance.task_queue.pk %}">{{ taskinstance.task_queue.name }}</a></td>
		</tr>
		<tr>
			<td>datetime created</td>
			<td>{{ taskinstance.datetime_created }}</td>
		</tr>
		<tr>
			<td>datetime finished</td>
			<td>
				{% if taskinstance.datetime_finished %}
					{{ taskinstance.datetime_finished }}
				{% else %}
					not finished
				{% endif %}
			</td>
		</tr>
	</table>

	<div style="padding: 0.5em 0"></div>

	<h5>Arguments</h5>
	<pre><code id="args" class="json"></code></pre>

{% endblock %}

{% block scripts %}
	<script>
		// JSON highlighting
		var json_obj = {{ taskinstance.arguments|jsonify|safe }}
		var str = JSON.stringify(json_obj, null, 2);

		$('#args').text(str);
		hljs.initHighlightingOnLoad();
	</script>
{% endblock %}
