{% extends "frontend/base.html" %}

{% block content %}
	<div class="model-name-container">
		<div>
			<div class="btn-group" style="margin-bottom: 1em;">
				{% block typetogglebuttons %}
					<a class="btn btn-secondary active" role="button">Container task instances</a>
					<a class="btn btn-secondary" href="{% url "executabletaskinstance-list" %}" role="button">Executable task instances</a>
				{% endblock %}
			</div>

			<h4>{% block heading %}Fill in this heading{% endblock %}</h4>

			<div class="small-italic-text">
				{% block description %}Fill in this description{% endblock %}
			</div>
		</div>

		<div>
			<a class="btn btn-primary" href="{% block createtaskinstance_url %}#{% endblock %}" role="button">New task instance</a>
		</div>
	</div>

	{% include "frontend/includes/taskinstance_piechart_div.html" %}

	{% block taskinstance_datatables_include %}{% endblock %}

{% endblock %}

{% block scripts %}
	{# Chart.js #}
	{% include "frontend/includes/taskinstance_piechart_script.html" with datasets=datasets labels=labels %}

	{# DataTables #}
	{% include "frontend/includes/taskinstance_datatables_script.html" with table_id="taskinstance-table" %}
{% endblock %}
