{% extends "frontend/base.html" %}


{% block content %}
	<h4 {% block formtitle_style %}style="margin-bottom: 0.69em;"{% endblock %}>
		{% block formtitle %}Enter form title here{% endblock %}
	</h4>

	{% block extracontent %}{% endblock %}

	{% block form_element %}
		<form method="post" novalidate>
			{% csrf_token %}
			{% include "frontend/includes/bootstrap4_form.html" with form=form %}
			<button type="submit" class="btn btn-primary">{% block formsubmittext %}Submit{% endblock %}</button>
		</form>
	{% endblock %}
{% endblock %}
