{% extends "frontend/base_tasktype_list.html" %}

{% block subtitle %} - container task types{% endblock %}

{% block heading %}Container task types{% endblock %}

{% block description %}task types which execute commands inside containers{% endblock %}

{% block typetogglebuttons %}
	<a class="btn btn-secondary active" role="button">Container task types</a>
	<a class="btn btn-secondary" href="{% url "executabletasktype-list" %}" role="button">Executable task types</a>
{% endblock %}

{% block tasktypetable %}
	<thead>
		<tr>
			<th>ID</th>
			<th>name</th>
			<th>user</th>
			<th>container type</th>
		</tr>
	</thead>
	<tbody>
		{% for tasktype in containertasktype_list %}
			<tr>

				<td><a href="{% url "containertasktype-detail" tasktype.pk %}">{{ tasktype.pk }}</a></td>
				<td><a href="{% url "containertasktype-detail" tasktype.pk %}">{{ tasktype.name }}</a></td>
				<td>{{ tasktype.user }}</td>
				<td>{{ tasktype.container_type|title }}</td>
			</tr>
		{% endfor %}
	</tbody>
{% endblock %}
