{% extends "frontend/base_tasktype_list.html" %}

{% block subtitle %} - container task types{% endblock %}

{% block heading %}Container task types{% endblock %}

{% block description %}task types which execute commands inside containers{% endblock %}

{% block createtasktype_url %}{% url "containertasktype-create" %}{% endblock %}

{% block typetogglebuttons %}
	<a class="btn btn-secondary active" role="button">Container task types</a>
	<a class="btn btn-secondary" href="{% url "executabletasktype-list" %}" role="button">Executable task types</a>
{% endblock %}

{% block tasktype_datatables_include %}
	{% include "frontend/includes/containertasktype_datatables_table.html" with table_id="tasktable-table" %}
{% endblock %}

{% block scripts %}
	{% include "frontend/includes/generic_datatables_script.html" with table_id="tasktable-table" %}
{% endblock %}
