{% extends "frontend/base_taskinstance_list.html" %}

{% block subtitle %} - executable task instances{% endblock %}

{% block heading %}Executable task instances{% endblock %}

{% block description %}task instances which execute commands directly{% endblock %}

{% block typetogglebuttons %}
	<a class="btn btn-secondary" href="{% url "containertaskinstance-list" %}" role="button">Container task instances</a>
	<a class="btn btn-secondary active" role="button">Executable task instances</a>
{% endblock %}

{% block taskinstance_datatables_include %}
	{% include "frontend/includes/taskinstance_datatables_table.html" with table_id="taskinstance-table" taskinstance_urlname="executabletaskinstance-detail" tasktype_urlname="executabletasktype-detail" %}
{% endblock %}
