{% extends "frontend/base.html" %}

{% block content %}
	<div style="text-align: center">
		<h4 style="font-weight: normal">
			{% if running_jobs == 1 %}
				{{ running_jobs }} job in progress
			{% else %}
				{{ running_jobs }} jobs in progress
			{% endif %}
		</h4>
	</div>
	<div style="margin-top: 2.69em;">
		<canvas id="job-bar-chart" width="400" height="230"></canvas>
	</div>
	<div class="small-italic-text" style="text-align: center; margin-top: 2.69em;">
		the above plot shows the current status of jobs created in the last week
	</div>
{% endblock %}

{% block scripts %}
	<script>
		var ctx = document.getElementById("job-bar-chart").getContext('2d');
		var myBarChart = new Chart(ctx, {
			type: "bar",
			data: {
				labels: {{ labels|safe }},
				datasets: {{ datasets|safe }}
			},
			options: {
				scales: {
					xAxes: [{
						scaleLabel: {
							display: true,
							labelString: "date created"
						},
						stacked: true
					}],
					yAxes: [{
						ticks: {
							beginAtZero: true
						},
						stacked: true
					}]
				},
			}
		});
	</script>
{% endblock %}
