{% extends "frontend/base.html" %}

{% block content %}
	<div style="text-align: center">
		<h4 style="font-weight: normal">
			{% if running_jobs == 1 %}
				{{ running_jobs }} job in progress
			{% else %}
				{{ running_jobs }} jobs in progress
			{% endif %}
		</h4>
	</div>

	<div style="margin-top: 2.69em; display: flex; justify-content: center;">
		<div style="max-width: 900px; width: 100%;">
				<canvas id="job-bar-chart"></canvas>
		</div>
	</div>

	<div class="small-italic-text" style="text-align: center; margin-top: 2.69em;">
		the above plot shows the current status of jobs created in the last

		<span style="color: #0094ff;" rel="tooltip" title="use ?days=N after the URL to tweak the plot!">
			{{ days_plotted }} days
		</span>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		var ctx = document.getElementById("job-bar-chart").getContext('2d');
		var myBarChart = new Chart(ctx, {
			type: "bar",
			data: {
				labels: {{ labels|safe }},
				datasets: {{ datasets|safe }}
			},
			options: {
				aspectRatio: 1.7432,
				scales: {
					xAxes: [{
						scaleLabel: {
							display: true,
							labelString: "date created"
						},
						stacked: true
					}],
					yAxes: [{
						ticks: {
							beginAtZero: true
						},
						stacked: true
					}]
				},
			}
		});
	</script>

	<script>
		$(document).ready(function() {
			$("[rel='tooltip'], .tooltip").tooltip();
		});
	</script>
{% endblock %}
