{% extends "frontend/base.html" %}

{% block subtitle %} - {{ taskqueue.name }}{% endblock %}

{% block content %}
	<div class="model-name-container">
		<div>
			<h4>{{ taskqueue }}</h4>

			<div class="small-italic-text" style="margin-bottom: 0.69em">
				{{ taskqueue.description }}
			</div>
		</div>

		<div>
			<a class="btn btn-secondary" href="{% url "queue-update" taskqueue.pk %}" role="button">Update</a>
			<a class="btn btn-danger" href="{% url "queue-delete" taskqueue.pk %}" role="button">Delete</a>
		</div>
	</div>

	<table class="queue-detail-table">
		<tr>
			<td>ID</td>
			<td>{{ taskqueue.pk }}</td>
		</tr>
		<tr>
			<td>user</td>
			<td>{{ taskqueue.user }}</td>
		</tr>
		<tr>
			<td>private</td>
			<td>{{ taskqueue.private }}</td>
		</tr>
		<tr>
			<td>active</td>
			<td>{{ taskqueue.active }}</td>
		</tr>
	</table>
{% endblock %}
