{% extends "frontend/base.html" %}

{% block subtitle %} - {{ taskqueue.name }}{% endblock %}

{% block content %}
	<h4>{{ taskqueue }}</h4>


	<div class="small-italic-text" style="margin-bottom: 0.69em">
		{{ taskqueue.description }}
	</div>

	<a class="btn btn-secondary" href="{% url "queue-update" taskqueue.pk %}" role="button">Update</a>
	<a class="btn btn-danger" href="{% url "queue-delete" taskqueue.pk %}" role="button">Delete</a>

	<div>ID: {{ taskqueue.pk }}</div>
	<div>user: {{ taskqueue.user }}</div>
	<div>private: {{ taskqueue.private }}</div>
	<div>active: {{ taskqueue.active }}</div>
{% endblock %}
