{% extends "frontend/base.html" %}

{% block subtitle %} - {{ taskqueue.name }}{% endblock %}

{% block content %}
	<div class="model-name-container">
		<div>
			<h4>{{ taskqueue }}</h4>

			<div class="small-italic-text" style="margin-bottom: 0.69em">
				{{ taskqueue.description }}
			</div>
		</div>

		<div>
			<a class="btn btn-secondary" href="{% url "queue-update" taskqueue.pk %}" role="button">Update</a>
			<a class="btn btn-danger" href="{% url "queue-delete" taskqueue.pk %}" role="button">Delete</a>
		</div>
	</div>

	<table class="queue-detail-table">
		<tr>
			<td>ID</td>
			<td>{{ taskqueue.pk }}</td>
		</tr>
		<tr>
			<td>user</td>
			<td>{{ taskqueue.user }}</td>
		</tr>
		<tr>
			<td>private</td>
			<td>{{ taskqueue.private }}</td>
		</tr>
		<tr>
			<td>active</td>
			<td>{{ taskqueue.active }}</td>
		</tr>
	</table>

	{# Show child instances should they exist #}
	{% if taskqueue.containertaskinstance_set.all %}
		<div style="margin: 2em 0">
			<hr>
		</div>

		<h5 style="margin-bottom: 1em">Related container task instances</h5>
		{% include "frontend/includes/taskinstance_datatables_table.html" with table_id="containertaskinstance-table" taskinstance_urlname="containertaskinstance-detail" tasktype_urlname="containertasktype-detail" taskinstance_list=taskqueue.containertaskinstance_set.all %}
	{% endif %}

	{% if taskqueue.executabletaskinstance_set.all %}
		<div style="margin: 2em 0">
			<hr>
		</div>

		<h5 style="margin-bottom: 1em">Related executable task instances</h5>
		{% include "frontend/includes/taskinstance_datatables_table.html" with table_id="executabletaskinstance-table" taskinstance_urlname="executabletaskinstance-detail" tasktype_urlname="executabletasktype-detail" taskinstance_list=taskqueue.executabletaskinstance_set.all %}
	{% endif %}

{% endblock %}

{% block scripts %}
	{% include "frontend/includes/taskinstance_datatables_script.html" with table_id="containertaskinstance-table" %}
	{% include "frontend/includes/taskinstance_datatables_script.html" with table_id="executabletaskinstance-table" %}
{% endblock %}
