{% extends "frontend/base_form.html" %}

{% block subtitle %} - update whitelist{% endblock %}

{% block formtitle %}Update whitelist{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function () {
			$('#id_whitelisted_container_task_types').multiSelect();
			$('#ms-id_whitelisted_container_task_types').css('width', '100%');
			$('#id_whitelisted_executable_task_types').multiSelect();
			$('#ms-id_whitelisted_executable_task_types').css('width', '100%');
		});
	</script>
{% endblock %}
