amqp==2.3.2
backports.ssl-match-hostname==3.5.0.1
billiard==3.5.0.4
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
django-dotenv==1.4.2
docker==3.5.1
docker-pycreds==0.3.0
idna==2.7
ipaddress==1.0.22
kombu==4.2.1
pytz==2018.5
requests==2.19.1
rollbar==0.14.5
six==1.11.0
spython==0.0.45
timeout-decorator==0.4.0
urllib3==1.23
vine==1.1.4
websocket-client==0.48.0
